<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net35" requireReinstallation="true" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net35" requireReinstallation="true" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net35" />
</packages>